In [1]:
import pandas as pd

In [27]:
df3 = pd.read_csv("supply.csv", encoding="euc-kr", sep = " ")

In [19]:
df3.columns

Index(['연도 합계면적 합계생산량 논벼면적 논벼10a당수량 논벼생산량 밭벼면적 밭벼10a당수량 밭벼생산량'], dtype='object')

In [28]:
df3

,‘04,‘05,‘06,‘07,‘08,‘09,‘10,‘11,‘12,‘13,‘14,‘15,‘16,‘17
0,"18,880","19,858","19,771","19,382","18,125","18,558","19,939","19,889","20,059","19,627","20,102","20,108","20,461","20,009"

In [25]:
df4 = df3.iloc[:, :3]

In [29]:
df3.to_csv("supply2.csv", sep = ",", encoding="euc-kr")

In [46]:
df3 = pd.read_csv("original.csv", encoding="euc-kr", index_col="year")

In [51]:
df3

      전년도재고량(천톤)  쌀생산량-정부매입량   전년도단경기가격        수확기
year
2005    6.745236   15.523830  10.461130  10.499656
2006    6.723832   15.483179  10.592702  10.532123
2007    6.721426   15.431635  10.567669  10.551167
2008    6.543912   15.519738  10.584309  10.611302
2009    6.530878   15.529807  10.641656  10.450510
2010    6.900731   15.391602  10.530148  10.436495
2011    7.319202   15.378878  10.384647  10.620864
2012    6.957497   15.333898  10.571317  10.677892
2013    6.635947   15.389261  10.643447  10.689647
2014    6.685861   15.389809  10.700995  10.635326
2015    6.773080   15.393522  10.658882  10.532816
2016    7.210818   15.364327  10.593931  10.370518
2017    7.465655   15.311841  10.475850  10.547996

In [48]:
lencol = len(df3.columns)
for i in range(lencol):
    l1 = df3.iloc[:, i]
    lenl1 = len(l1)
    l2 = []
    
    for a in l1:
        x = np.log(a)
        l2.append(x)
        
    df3.iloc[:, i] = l2

In [32]:
from sklearn import datasets, linear_model
import pandas as pd
import numpy as np

In [49]:
model1 = linear_model.LinearRegression()
x_vars1 = df3.iloc[:, :-1]
lr = model1.fit(x_vars1, df3.iloc[:, -1])
print(model1.coef_, model1.intercept_)

[-0.49924378 -1.63910527 -0.85873579] 48.32587367015266

In [50]:
lr.score(x_vars1, df3.iloc[:, -1])

0.43400666468152205